.App {
  box-sizing: border-box;
  text-align: center;
}

img.mx-auto {
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  max-height: 60%;
  width: auto;
}

row {
  align-content: center;
  border: 2px solid blue;
}

.App-header {
  background-color: #b9a44c;
  font-size: calc(0px + 2vmin);
  color: black;
  border: 1px solid #b9a44c;
  border-radius: 4px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
