body{
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #000;
  min-height:100vh;
  background-color: #566E3D;
  padding-top:70px;
  /*tan: B9A44C*/
}

.card{
    background-color: #566E3D;
    border:none;
}

.container{
    height:100vh;
    background-color: #566E3D;
}

h1{
    font-size: 1rem;
    font-family:"verdana";
}
/*
    ideas for colors to use:
    F25F5C (Maybe)
    B9A44C
    566E3D
    9FC2CC
    A5668B (Maybe)

    D62828
    F77F00
*/


form.card{
    min-height:100%;
    border:none;
    background-color: #566E3D;
    /**/
}

.btn-primary{
    padding:10px;
    background-color: #B9A44C;
    color:black;
    border-color:#B9A44C;
    margin-bottom:5px;
}

.btn-primary:hover{
    background-color:#9FC2CC;
    border-color:#9FC2CC;
    color:black;
}

.btn-secondary{
    padding:10px;
    background-color:#B9A44C;
    color:black;
    border-color:#B9A44C;
}

.btn-secondary:hover{
    background-color:#9FC2CC;
    border-color:#9FC2CC;
    color:black;
}

.btn-outline-success{
    border-color:black;
    color:black;
}

button#zip{
    flex: 1 1 auto;
    width:30%;
}

button#zip:hover{
    border-color: #9FC2CC;
    background-color: #9FC2CC;
    color:black;
}

.form-group-row{
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-8{
    flex: 0 1 auto;
    margin-right:0px;
}




@media(max-width:500px){
    .col-4{
        margin-left:0px;
    }
}