body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #000;
  min-height: 100vh;
  background-color: #566e3d;
  padding-top: 70px;
  /*tan: B9A44C*/
}

.container {
  height: 100vh;
  min-height: 80vh;
  background-color: #566e3d;
}

h1 {
  font-size: 22px;
  color: #e8e8e8;
  font-family: "verdana";
}
/*
    ideas for colors to use:
    F25F5C (Maybe)
    B9A44C
    566E3D
    9FC2CC
    A5668B (Maybe)

    D62828
    F77F00
*/

form.card {
  min-height: 100%;
  border: none;
  background-color: #566e3d;
  /**/
}

.btn-primary {
  padding: 10px;
  background-color: #b9a44c;
  color: black;
  border-color: #b9a44c;
  margin-bottom: 5px;
}

.btn-primary:hover {
  background-color: #9fc2cc;
  border-color: #9fc2cc;
  color: black;
}

.btn-secondary {
  padding: 10px;
  background-color: #b9a44c;
  color: black;
  border-color: #b9a44c;
}

.btn-secondary:hover {
  background-color: #9fc2cc;
  border-color: #9fc2cc;
  color: black;
}

.btn-outline-success {
  border-color: black;
  color: black;
}

button#zip {
  flex: 1 1 auto;
  width: 30%;
}

button#zip:hover {
  border-color: #9fc2cc;
  background-color: #9fc2cc;
  color: black;
}

div.form-row {
  width: 100%;
}

.form-group-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col {
  flex: 1 1 auto;
}

button#zip {
  width: 100%;
  height: 100%;
}

img#pic {
  max-width: 350px;
  max-height: 350px;
  height: 350px;
  width: 350px;
  flex: 0 1 auto;
}

input#input {
  height: 100%;
}
