
nav.navbar{
    background-color: #9FC2CC;
}

a{
    font-family:"verdana";
    color:black;
}


.navbar-brand:hover{
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    padding-bottom:5px;

}

a:hover{
    text-decoration:none;
    color:black;
}
.nav-link:hover{
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    padding-bottom:5px;
}